<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg   navbar-custom">
  <a class="navbar-brand my-brand"><strong>XTEC Digital | Profesor</strong></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!--Logout-->
      <li class="nav-item">
        <a
          class="nav-link my-logout-link"
          [routerLink]="['/']">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col">
  </div>
  <div class="col-auto">
    <app-rubric-management></app-rubric-management>
  </div>
  <div class="col">
  </div>
</div>
